## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from API_Keys import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng
0,0,Ndele,CF,overcast clouds,69.21,96,100,1.54,8.4109,20.6473
1,1,Hithadhoo,MV,broken clouds,83.61,72,60,14.58,-0.6000,73.0833
2,2,Port Alfred,ZA,clear sky,55.18,67,0,5.01,-33.5906,26.8910
3,3,Yingcheng,CN,broken clouds,94.64,60,77,14.94,30.9500,113.5500
4,4,Rikitea,PF,scattered clouds,75.04,74,42,10.92,-23.1203,-134.9692

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature that would be perfect for your vacation? "))
max_temp = float(input("What is the maximum temperature that would be perfect for your vacation? "))

What is the minimum temperature that would be perfect for your vacation? 60
What is the maximum temperature that would be perfect for your vacation? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng
0,0,Ndele,CF,overcast clouds,69.21,96,100,1.54,8.4109,20.6473
4,4,Rikitea,PF,scattered clouds,75.04,74,42,10.92,-23.1203,-134.9692
8,8,Demyansk,RU,clear sky,62.58,68,3,6.67,57.6430,32.4660
9,9,Harper,LR,overcast clouds,74.98,83,99,8.34,4.3750,-7.7169
10,10,Kuusamo,FI,broken clouds,62.64,94,75,4.61,65.9667,29.1833
12,12,Busselton,AU,clear sky,61.54,55,4,8.50,-33.6500,115.3333
14,14,Albany,US,scattered clouds,69.57,78,47,5.14,42.6001,-73.9662
19,19,Beloha,MG,clear sky,63.91,83,0,3.13,-25.1667,45.0500
21,21,Petropavlovsk-Kamchatskiy,RU,clear sky,68.59,68,0,15.66,53.0452,158.6483
23,23,Faanui,PF,clear sky,78.46,70,4,7.52,-16.4833,-151.7500

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                367
City                   367
Country                367
Current Description    367
Max Temp               367
Humidity               367
Cloudiness             367
Wind Speed             367
Lat                    367
Lng                    367
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed,Lat,Lng
0,0,Ndele,CF,overcast clouds,69.21,96,100,1.54,8.4109,20.6473
4,4,Rikitea,PF,scattered clouds,75.04,74,42,10.92,-23.1203,-134.9692
8,8,Demyansk,RU,clear sky,62.58,68,3,6.67,57.6430,32.4660
9,9,Harper,LR,overcast clouds,74.98,83,99,8.34,4.3750,-7.7169
10,10,Kuusamo,FI,broken clouds,62.64,94,75,4.61,65.9667,29.1833
...,...,...,...,...,...,...,...,...,...,...
691,691,Belmonte,BR,scattered clouds,69.62,80,27,3.44,-15.8631,-38.8828
692,692,Algeciras,ES,few clouds,74.88,83,20,16.11,36.1333,-5.4505
695,695,Puerto Colombia,CO,scattered clouds,78.89,84,29,11.77,10.9878,-74.9547
699,699,Hamada,JP,overcast clouds,79.52,70,94,6.44,34.8833,132.0833
700,700,Coahuayana,MX,overcast clouds,78.26,88,87,0.81,18.7333,-103.6833

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Current Description", "Max Temp", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Ndele,CF,overcast clouds,69.21,8.4109,20.6473,
4,Rikitea,PF,scattered clouds,75.04,-23.1203,-134.9692,
8,Demyansk,RU,clear sky,62.58,57.6430,32.4660,
9,Harper,LR,overcast clouds,74.98,4.3750,-7.7169,
10,Kuusamo,FI,broken clouds,62.64,65.9667,29.1833,
12,Busselton,AU,clear sky,61.54,-33.6500,115.3333,
14,Albany,US,scattered clouds,69.57,42.6001,-73.9662,
19,Beloha,MG,clear sky,63.91,-25.1667,45.0500,
21,Petropavlovsk-Kamchatskiy,RU,clear sky,68.59,53.0452,158.6483,
23,Faanui,PF,clear sky,78.46,-16.4833,-151.7500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
 
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try:
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
    
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,Ndele,CF,overcast clouds,69.21,8.4109,20.6473,
4,Rikitea,PF,scattered clouds,75.04,-23.1203,-134.9692,People ThankYou
8,Demyansk,RU,clear sky,62.58,57.6430,32.4660,Demyanskaya Gostinitsa
9,Harper,LR,overcast clouds,74.98,4.3750,-7.7169,Screensaver
10,Kuusamo,FI,broken clouds,62.64,65.9667,29.1833,Hotel Kuusanka
...,...,...,...,...,...,...,...
691,Belmonte,BR,scattered clouds,69.62,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
692,Algeciras,ES,few clouds,74.88,36.1333,-5.4505,AC Hotel by Marriott Algeciras
695,Puerto Colombia,CO,scattered clouds,78.89,10.9878,-74.9547,Hotel El Emigrante
699,Hamada,JP,overcast clouds,79.52,34.8833,132.0833,Shimane Hamada Washington Hotel Plaza
700,Coahuayana,MX,overcast clouds,78.26,18.7333,-103.6833,El rranchito michuacan de ocampos

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_clean = hotel_df.replace(r'^\s*$', np.nan, regex=True)
hotel_name_df = hotel_clean.dropna()
hotel_name_df

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,scattered clouds,75.04,-23.1203,-134.9692,People ThankYou
8,Demyansk,RU,clear sky,62.58,57.6430,32.4660,Demyanskaya Gostinitsa
9,Harper,LR,overcast clouds,74.98,4.3750,-7.7169,Screensaver
10,Kuusamo,FI,broken clouds,62.64,65.9667,29.1833,Hotel Kuusanka
12,Busselton,AU,clear sky,61.54,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...
691,Belmonte,BR,scattered clouds,69.62,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
692,Algeciras,ES,few clouds,74.88,36.1333,-5.4505,AC Hotel by Marriott Algeciras
695,Puerto Colombia,CO,scattered clouds,78.89,10.9878,-74.9547,Hotel El Emigrante
699,Hamada,JP,overcast clouds,79.52,34.8833,132.0833,Shimane Hamada Washington Hotel Plaza
700,Coahuayana,MX,overcast clouds,78.26,18.7333,-103.6833,El rranchito michuacan de ocampos

In [10]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_name_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</ddd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_name_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_name_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))